*{
    margin: 0%;
    background-color: rgb(67,67,67)
}
.Dashboardheader{
    border-radius: 40px;
background-color: rgb(37,37,37);
}
#HadernameD{
    padding-left: 20px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(37,37,37);
}

.Headofpage{
    border-radius: 40px;
    padding-top: 10px;
background-color: rgb(37,37,37);
}